name: arm64-assembly / main

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
          - os: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Install cross compiler and QEMU if not running on ARM64
        if: ${{ runner.arch != 'ARM64' }}
        run: |
          sudo apt-get update -q
          sudo apt-get install -y qemu-user gcc-aarch64-linux-gnu

      - name: Run exercism/arm64-assembly CI (runs tests) for all exercises
        run: make -j $(nproc)
